body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/*Articles*/
#columns {
	column-count: 1;
	margin: auto;
}

.size {
	max-width: 250px;
	max-height: 250px;
	min-height: 150px;
	background-repeat: no-repeat;
	background-size: contain;
	margin: auto;
}
.align {
	text-align: center;
}
.src:hover {
	cursor: pointer;
}

.src:visited  {
	color: red;
}